// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #afdc34;
$secondary : #3c6d16;
$accent    : #b0843e;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #afdc34;
$negative  : #e84357;
$info      : #d9d9d9;
$warning   : #b0843e;
